# Disable directory browsing

Options -Indexes

<IfModule mod_headers.c>
    # Allow CORS for specific domains
    SetEnvIf Origin "http(s)?://(www\.)?(localhost|127\.0\.0\.1)$" AccessControlAllowOrigin=$0
    Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
    
    # Allow methods used in application
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"

    # Allow necessary headers
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"

    # Content Security Policy Header
    Header set Content-Security-Policy "default-src 'self'; \
        script-src 'self' https://www.google-apis.com; \
        style-src 'self' https://cdnjs.cloudflare.com https://use.fontawesome.com; \
        img-src 'self' data: https://*.cloudflare.com https://img.freepik.com https://i.pinimg.com https://www.wallpapertip.com https://i.pinimg.com; \
        connect-src 'self'; \
        font-src 'self' https://fonts.googleapis.com; \
        frame-ancestors 'none'; \
        form-action 'self'; \
        base-uri 'self';"

</IfModule>

AddType application/x-httpd-php .html
