th,
td {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: rgb(15, 165, 55);
  line-height: 50px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 12px 5px;
}

tr {
  line-height: 60px;
  margin-bottom: 20px;
}

div.content {
  margin-bottom: 20px;
}

table {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 9px;
  margin-top: 5%;
  text-align: center;
  height: auto;
}

form {
  border: 3px solid #f1f1f1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-image: url(https://www.wallpapertip.com/wmimgs/3-36163_dark-blur.jpg);
  color: white;
  border-radius: 14px;
  box-shadow: 0 0 8px #669999;
}

.tag {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

#profile {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  box-shadow: 0 0 8px #669999;
}

h4 {
  margin-left: 12px;
  text-align: center;
  margin-top: 2%;
}

.navbar {
  margin-bottom: 2%;
}

.profile-name {
  margin-left: 12px;
}

.edit-button-container {
  text-align: center;
  margin-bottom: 10%;
}

.edit-button {
  padding: 24px 12px;
  width: 20%;
}
